/h20_th5t10_3.txt
/h20_th5t15_3.txt
/i_bckwall.txt
/i_bwall.txt
/i_frntwall.txt
/i_lbwall.txt
/i_ltwall.txt
/i_lwall.txt
/i_rbwall.txt
/i_rtwall.txt
/i_rwall.txt
/i_twall.txt
/installed
/lbwall.txt
/ltwall.txt
/lwall.txt
/main.py
/new.txt
/nikpy.py
/niksss.m
/plotPressure.py
/plotTank.plt
/points.vtu
/rbwall.txt
/readNPZ.py
/readSPHb.py
/readSPHbOld.py
/remove
/rtwall.txt
/rwall.txt
/Screenshot 2023-12-20 at 18.43.25.png
/sloshing_0_00000.npz
/sloshing_0_00000.npz.txt
/sloshing_0_boundary_00000.vtu
/tank.py
/tankRotation.py
/twall.txt
/wallsIndex.txt
